table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #007bff;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
